@import "./lib/styles/global";


.site-page {
  min-height: 100vh;
}
.site-header {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #eaecef;
}
.site-logo {
  font-size: 20px;
  color: #2c3e50;
}
.site-aside {
  border: 1px solid $--main-border-color;
  margin-right: 20px;
  padding-left: 20px;
  h2 {
    padding: 20px 8px;
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
  }
  ul {
    min-width: 12em;
    > li:not(:first-child) {
      margin-top: 10px;
    }
    > li {
      a {
        color: #2c3e50;
        display: block;
        padding: 6px 8px;
        &:hover {
          color: $--main-color;
        }
        &.active {
          color: $--main-color;
          font-weight: bold;
          border-right: 4px solid $--main-color;
        }
      }
    }
  }
}
.site-main {
  padding-top: 16px;
}
.site-footer {
  border-top: 1px solid $--main-border-color;
  height: 60px;
  line-height: 60px;
  color: #666;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    font-size: $--font-size;
    li:last-child {
      margin-left: 20px;
    }
  }
}

pre {
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
}
.example {
  padding: 16px 0;
}