@import "lib/styles/global";


.site-page {
  min-height: 100vh;
}
.site-header {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #eaecef;
}
.site-logo {
  font-size: 20px;
  color: #2c3e50;
}
.site-aside {
  border: 1px solid $--main-border-color;
  margin-right: 20px;
  padding-left: 20px;
  h2 {
    padding: 20px 8px;
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
  }
  ul {
    min-width: 12em;
    > li:not(:first-child) {
      margin-top: 10px;
    }
    > li {
      a {
        color: #2c3e50;
        display: block;
        padding: 6px 8px;
        &:hover {
          color: $--main-color;
        }
        &.active {
          color: $--main-color;
          font-weight: bold;
          border-right: 4px solid $--main-color;
        }
      }
    }
  }
}
.site-main {
  padding: 20px 0 50px 25px;
}
.site-footer {
  border-top: 1px solid $--main-border-color;
  height: 60px;
  line-height: 60px;
  color: #666;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    font-size: $--font-size;
    li:last-child {
      margin-left: 20px;
    }
  }
}

.site-main {
  h1, h2, h4 {
    font-weight: 600;
    color: #2c3e50;
  }
  h2 {
    padding: 30px 0 5px 0;
    border-bottom: 1px solid #eaecef;
  }
  h4 {
    padding-top: 20px;
  }
}


pre {
  margin-top: 20px;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
}
.example {
  padding: 16px 0 20px 0;
}
.prism-code {
  width: 700px;
  background-color: rgb(30, 33, 34) !important;
  padding: 18px 32px;
  .keyword {
    color: rgb(198, 136, 193) !important;
  }
  .plain, .attr-name, .function-variable {
    color: rgb(135, 213, 254) !important;
  }
  .string, .attr-value {
    color: rgb(207, 148, 123) !important;
  }
  .attr-equals {
    color: rgb(205, 200, 194) !important;
  }
  .class-name {
    color: rgb(92, 205, 182) !important;
  }
  .punctuation {
    color: rgb(152, 143, 129) !important;
  }
}